@import "tailwindcss/dist/base";
@import "tailwindcss/dist/components";
@import "tailwindcss/dist/utilities";


.with_background {
    background-image: url('/images/flower.jpg');
    background-repeat: round;
}

.titre {
    font-size: 40px;
    font-family: 'Berkshire_Swash';
}

.content {
    font-size: 25px;
    font-family: 'Lobster';
}

.bouton {
    font-family: 'Lobster';
    font-size: 20px;
}